@section Scripts{ 
<script src="~/lib/amcharts/dist/amcharts/amcharts.js"></script>
<script src="~/lib/amcharts/dist/amcharts/serial.js"></script>
<script src="~/lib/amcharts/dist/amcharts/plugins/dataloader/dataloader.min.js"></script>

<script>
    AmCharts.makeChart("chartdiv",
        {
            "type": "serial",
            "categoryField": "time",
            "dataDateFormat": "YYYY-MM-DD",
            "precision": 1,
            "categoryAxis": {
                "parseDates": true
            },
            "chartCursor": {
                "enabled": true
            },
            "chartScrollbar": {
                "enabled": true
            },
            "trendLines": [],
            "graphs": [
                {
                    "bullet": "round",
                    "id": "AmGraph-1",
                    "title": "Max",
                    "valueField": "maxTemperature"
                },
                {
                    "bullet": "round",
                    "id": "AmGraph-2",
                    "title": "Average",
                    "valueField": "avgTemperature"
                },
                {
                    "bullet": "round",
                    "id": "AmGraph-3",
                    "title": "Min",
                    "valueField": "minTemperature"
                }
            ],
            "guides": [],
            "valueAxes": [
                {
                    "id": "ValueAxis-1",
                    "title": ""
                }
            ],
            "allLabels": [],
            "balloon": {},
            "legend": {
                "enabled": true,
                "useGraphSettings": true
            },
            "titles": [
                {
                    "id": "Title-1",
                    "size": 15,
                    "text": "Daily temperatures"
                }
            ],
            "dataLoader": {
                "url": "/api/dailytemps"
            }
        }
    );
</script>
}
<div style="margin:10px"></div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Temperature</th>
            <th>Value</th>
            <th>Date/time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Current</td>
            <td style="text-align:center">@ViewBag.CurrentTemp&deg;</td>
            <td>@ViewBag.CurrentTime</td>
        </tr>
        <tr>
            <td>Max</td>
            <td style="text-align:center">@ViewBag.MaxTemp&deg;</td>
            <td>@ViewBag.MaxTime</td>
        </tr>
        <tr>
            <td>Min</td>
            <td style="text-align:center">@ViewBag.MinTemp&deg;</td>
            <td>@ViewBag.MinTime</td>
        </tr>
    </tbody>
</table>

<div style="margin:10px"></div>

<div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
