<div style="margin:10px"></div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Temperature</th>
            <th>Value</th>
            <th>Date/time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Current</td>
            <td style="text-align:center">@ViewBag.CurrentTemp&deg;</td>
            <td>@ViewBag.CurrentTime</td>
        </tr>
        <tr>
            <td>Max</td>
            <td style="text-align:center">@ViewBag.MaxTemp&deg;</td>
            <td>@ViewBag.MaxTime</td>
        </tr>
        <tr>
            <td>Min</td>
            <td style="text-align:center">@ViewBag.MinTemp&deg;</td>
            <td>@ViewBag.MinTime</td>
        </tr>
    </tbody>
</table>
